{% extends 'core/base.html' %}
{% load static %}
{% block title %}Bienvenido a Ixhua{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <form action="" method="post">{% csrf_token %}
          <h3 class="mb-4">Bienvenido a Ixhua</h3>
          {% if form.non_field_errors %}
            <p style="color:red">Correo electrónico o contraseña inválidos. Por favor, verifica tu información.</p>
          {% endif %}
          <p>
            <input type="text" name="username" autofocus maxlength="254" required
              id="id_username" class="form-control" placeholder="Ingresa tu e-mail"/>
          </p>
          <p>
            <input type="password" name="password" required
              id="id_password" class="form-control" placeholder="Contraseña"/>
          </p>
          <p><input type="submit" class="btn btn-primary btn-block" value="Iniciar sesión"></p>
        </form>
        <p>
          <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}