{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% comment %} {% load static %} {% endcomment %}
{% block title %}Re-establecer Contraseña {% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="container">
    {% comment %} <div class="row mt-3"> {% endcomment %}
    <div class="colM">
      {% comment %} <div class="col-md-9 mx-auto mb-5"> {% endcomment %}
      <div class="colM">
        <form action="" method="post">{% csrf_token %}
          <h3 class="mb-4">Re-establecer Contraseña</h3>
          <p>Por favor ingresa tu correo electrónico. Te enviaremos un link con instrucciones para que re-establezcas tu contraseña</p>
          {{ form.email.errors }}
          <div class="form-row">
            <p><input type="text" name="email" maxlength="254" required="" id="id_email" class="form-control" placeholder="Correo Electrónico"/></p>
          </div>
          <div class="form-row">
            <p><input type="submit" class="btn btn-primary btn-block" value="Re-establecer contraseña"></p>
          </div>
        </form>
        <p>
          <a href="{% url 'login' %}">¿Recordaste tu contraseña? Log In</a>
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}