{% extends 'core/base.html' %}
{% load static %}
{% block title %}Detalle{% endblock %}
{% block content %}
{% comment %} {% include 'pages/includes/pages_menu.html' %} {% endcomment %}
<main role="main">
  <style> 
    input[type="text"]:disabled {
      background: #ffffff;
      color: #000000;
    }

  </style>
  <form>
  <!-- Modal Delete -->
  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Esto no se puede deshacer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Estás seguro que desear borrar este usuario? 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <a href="{% url 'users:delete' user.id %}" class="btn btn-danger float-right mr-1">
          Sí, borrar
          </a>
          
        </div>
      </div>
    </div>
  </div>
  {% block submit_buttons_bottom %}
    {{ block.super }}
    <!-- Modal Activar -->
    <div class="modal fade" id="activate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Esto no se puede deshacer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ¿Seguro que deseas activar esta usuario? 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <input type="submit" value="Activar" name="active" class="btn btn-success"> 
          </div> 
        </div>
      </div>
    </div>

    <!-- Modal Desactivar -->
    <div class="modal fade" id="deactivate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Esto no se puede deshacer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ¿Seguro que deseas desactivar esta usuario?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <input type="submit" value="Desactivar" name="active" class="btn btn-danger">
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h2 class="section-heading mb-4">{{user.business_name}}</h2>
        </div>
        <div class="col-6">
          <a class="btn btn-secondary float-right mr-1" href="{% url 'users:users' %}">
            <i class="fa fa-arrow-left"></i>
          </a>

          <button type="button" class="btn btn-danger float-right mr-1" data-toggle="modal" data-target="#delete">
            <i class="fa fa-trash"></i>
          </button>
          
          <a class="btn btn-primary float-right mr-1" href="{% url 'users:update' user.id %}">
            <i class="fa fa-pencil"></i>
          </a>
            {% if user.is_active %}
                <button type="button" class="btn btn-success float-right mr-1" data-toggle="modal" data-target="#deactivate">
                  <i class="fa fa-check"></i>
                </button>
            {% else %}
                <button type="button" class="btn btn-danger float-right mr-1" data-toggle="modal" data-target="#activate">
                  <i class="fa fa-times"></i>
                </button>
            {% endif %}

        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-1 col-form-label">RFC</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" value="{{user.rfc}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-1 col-form-label">Calle y número</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" value="{{user.address}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-1 col-form-label">C.P.</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" value="{{user.postal_code}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-1 col-form-label">Estado</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" value="{{family.state}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-1 col-form-label">Colonia</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" value="{{family.suburb}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-1 col-form-label">Folio</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" value="{{family.folio}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-1 col-form-label">Celular</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" value="{{family.cellphone}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-1 col-form-label">E-mail</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" value="{{family.email}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-1 col-form-label">Subfamilias</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" value="{{family.subfamily}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-1 col-form-label">Calificación </label>
          <div class="col-sm-4">
            <input type="text" class="form-control" value="{{family.qualification}}" disabled>
          </div>
        </div>
      </div>
    </div>
  </form>
</main>
{% endblock %}
