{% extends 'core/base.html' %}
{% load static %}
{% block title %}Usuarios{% endblock %}
{% block content %}
{% comment %} {% include 'pages/includes/pages_menu.html' %} {% endcomment %}
<main role="main">
  {% comment %} {% if messages %}
    <ul class="messages list-group mb-3">
      Mensaje
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %} {% endcomment %}
  <div class="container-fluid">
    <div class="col-lg-12">
      <h1>Catálogo de Usuarios</h1>
      {% if 'updated' in request.GET %}
        <div class="alert alert-success" role="alert">
          Usuario actualizada satisfactoriamente
        </div>
      {% elif 'created' in request.GET %}
        <div class="alert alert-success" role="alert">
          Usuario creada satisfactoriamente
        </div>
      {% elif 'deleted' in request.GET %}
        <div class="alert alert-success" role="alert">
          Usuario borrada satisfactoriamente
        </div>
      {% endif %}
      <div class="row">
        <div class="col-6">
          <input class="form-control" type="text" placeholder="Buscar" aria-label="Search">
        </div>
        <div class="col-6">
          <a class="btn btn-primary float-right" href="{% url 'families:create' %}">
            Agregar nueva
          </a>
        </div>
        <br>
        <br>
        <div class="col-12">
          <table class="table table-bordered table-striped table-sm" id="families">
            <thead class="thead-light">
              <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>E-mail</th>
                <th>Rol</th>
                <th>Estado</th>
              </tr>
            </thead>
            {% for user in customuser_list %}
              {% comment %} {{ user }} {% endcomment %}
              <tr>
                <td><a href="{% url 'users:user' user.id %}">{{ user.first_name }} {{ user.middle_name }}</a></td>
                <td><a href="{% url 'users:user' user.id %}">{{ user.father_last_name }} {{ user.mother_last_name }}</a></td>
                <td>{{ user.email }}</td>
                {% if user.role == 1  %}
                  <td>Sysadmin</td>
                {% elif user.role == 2  %}
                  <td>Analista</td>
                {% elif user.role == 3  %}
                  <td>Cobranza</td>
                {% elif user.role == 4  %}
                  <td>Tesorería</td>
                {% elif user.role == 5  %}
                  <td>Cliente</td>
                {% endif %}
                <td>
                  {% if user.is_active %}
                    <i class="fa fa-check fa-2x"></i>
                  {% else %}
                    <i class="fa fa-times fa-2x"></i>
                  {% endif %}
              </tr>
            {% endfor %}
          </table>
          <!-- Menú de paginación -->
          {% if is_paginated %}
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                  <li class="page-item ">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                  </li>
                {% endif %}
                {% for i in paginator.page_range %}
                  <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                  </li>
                {% endfor %}
                {% if page_obj.has_next %}
                  <li class="page-item ">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                  </li>
                {% endif %}
              </ul>
            </nav>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
