{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="container">
  <div style="padding-top:50px; text-align:center;">
    {% comment %} <h1>Web Playground</h1> {% endcomment %}
    <h1>{{title}}</h1>
    <p class="lead">Esta es la pagina de inicio del administrador</p>
  </div>
</div>
{% endblock %}