<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>IXHUA</title>
</head>

<body class="body" style="padding:0; margin:0; display:block; background:#ffffff; -webkit-text-size-adjust:none" bgcolor="#ffffff">
  
  <table align="center" cellpadding="0" cellspacing="0" width="700px" height="100%">
    <tr>
      <td style="font-family: Roboto, sans-serif; font-size: 16px; font-weight: 300; color: #707070;">
        <div>
          <div style="margin: 20px ; line-height: 14px;">
            <div style="text-align: center; color: #666666;">
              <br>
            </div>
            <div style="display: flex; flex-flow: row wrap; justify-content: center;">
              <h1>Validación de Datos</h1>
            </div>
            <div style="display: flex; flex-flow: row wrap; justify-content: center;">
              <div style="margin: 10px 0; width: 100%;">
                <div style="margin: 10px 5px; padding: 10px; line-height: 18px; border: 1px solid #e6e6e6; border-radius: 8px;"> 
                  <p style="font-style: italic;">NOMBRE:<span style="float: right; font-size: 18px; color: #000000">{{name}}</span></p>
                  <p style="font-style: italic;">CELULAR:<span style="float: right; font-size: 18px; color: #000000">{{cell}}</span></p>
                  <p style="font-style: italic;">EMPRESA:<span style="float: right; font-size: 18px; color: #000000">{{company}}</span></p>
                  <p style="font-style: italic;">RFC:<span style="float: right; font-size: 18px; color: #000000">{{rfc}}</span></p>
                </div>
              </div>
              <br>
              <br>
            </div>
          </div>
        </div>    
      </td>
    </tr>
  </table>
</body>
</html>
