<section class="contract p-2 mb-30px">
  <h2 class="fs-24px mt-0 mb-0 text-center">ANEXO CARÁTULA</h2>
  <h2 class="fs-24px mt-0 mb-2 text-center">DEL CONTRATO DE CRÉDITO SIMPLE</h2>

  <hr class="hr" />

  <table class="widht-100 fs-11px">
    <tr>
      <td class="pr-2"><strong>NÚMERO DE CONTRATO:</strong></td>
      <td>{{ contract.contract_no }}</td>
    </tr>

    <tr>
      <td class="pr-2"><strong>PRODUCTO:</strong></td>
      <td>
        {{ contract.product }}
      </td>
    </tr>

    <tr>
      <td class="pr-2"><strong>TIPO DE CRÉDITO:</strong></td>
      <td>
        {{ contract.creditType }}
      </td>
    </tr>

    <tr>
      <td><strong>CAT (Costo Total Anual) sin IVA:</strong></td>
      <td>
        {{ contract.cat }}%
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <hr class="m-0" />
      </td>
    </tr>

    <tr>
      <td colspan="2" class="pt-2"><strong>TASAS DE INTERESES (SIN IVA)</strong></td>
    </tr>

    <tr>
      <td class="pr-2"><strong>ORDINARIA ANUAL:</strong></td>
      <td>{{ contract.annualRegularInterest }}%</td>
    </tr>

    <tr>
      <td class="pr-2"><strong>MORATORIA ANUAL:</strong></td>
      <td>
        540%
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <hr class="m-0" />
      </td>
    </tr>

    <tr>
      <td class="pr-2 pt-2"><strong>MONTO DEL CRÉDITO:</strong></td>
      <td class="pt-2">
        ${{ contract.amount }} MXN
      </td>
    </tr>
    <tr>
      <td class="pr-2 pt-2"><strong>COMISIÓN POR APERTURA:</strong></td>
      <td class="pt-2">
        ${{ contract.aperture }} MXN
      </td>
    </tr>

    <tr>
      <td class="pr-2"><strong>MONTO TOTAL A PAGAR CON COMISIONES E INTERESES ORDINARIOS:</strong></td>
      <td>
        ${{ contract.totalAmount }} MXN
      </td>
    </tr>

    <tr>
      <td class="pr-2"><strong>PLAZO:</strong></td>
      <td>{{ contract.term }} días</td>
    </tr>

    <tr>
      <td class="pr-2"><strong>NO. DE PAGOS:</strong></td>
      <td>
        1
      </td>
    </tr>

    <tr>
      <td class="pr-2"><strong>FECHA DE PAGO:</strong></td>
      <td>
        {{ contract.paymentDate }}
      </td>
    </tr>
  </table>

  <h2 class="mt-5 mb-0 text-center fs-12px">
    PARA CONSULTAR SALDOS, TRANSACCIONES Y MOVIMIENTOS
  </h2>

  <p>
    El Cliente podrá revisar sus saldos, transacciones y movimientos dentro de
    su perfil al cual accede con su RFC (Registro Federal de Contribuyentes) y
    contraseña en el sitio web: {{ contract.ixhua.website }}
  </p>

  <h2 class="my-2 mb-0 text-center fs-12px">MISCELÁNEOS</h2>
  <ul>
    <li>
      <strong
        >Es importante no contratar créditos que excedan su capacidad de pago,
        ya que el incumplimiento genera penalidades e intereses
        moratorios.</strong
      >
    </li>
    <li>
      El incumplimiento a sus obligaciones de pago afecta su historial
      crediticio.
    </li>
    <li>
      Los canales de comunicación oficiales entre el Cliente e
      <strong>{{ contract.ixhua.socialReason }}</strong> siempre serán a través
      de medios electrónicos ya sea a través del Sitio
      {{ contract.ixhua.website }} o mediante el correo electrónico
      <a [href]="'mailto:' + contract.ixhua.contact">{{ contract.ixhua.contact }}</a>.
    </li>
  </ul>

  <p>
    En caso de controversia <strong>El CLIENTE</strong> podrá presentar su
    reclamación ante la <strong>PROCURADURÍA FEDERAL DEL CONSUMIDOR</strong> en
    lo sucesivo <strong>PROFECO</strong> comunicándose a los números del centro
    de atención telefónica de <strong>PROFECO</strong> en:
  </p>
  <p class="m-0">{{ contract.profeco.address }}</p>
  <p class="m-0">
    Teléfono: {{ contract.profeco.phone }}, Atención a la ciudadanía:
    {{ contract.profeco.phoneCitizensAttention }}
  </p>
  <p class="m-0">
    Página de internet
    <a [href]="contract.profeco.website">{{ contract.profeco.website }}</a
    >.
  </p>

  <p>
    <strong>{{ contract.ixhua.socialReason }}:</strong> tiene su domicilio
    ubicado en {{ contract.ixhua.address }}
  </p>
  <p><strong>TELEFONO DE CONTACTO IXHUA:</strong> {{ contract.ixhua.phone }}</p>
  <p><strong>CORREO ELECTRÓNICO IXHUA:</strong> {{ contract.ixhua.contact }}</p>
  <p><strong>PÁGINA WEB IXHUA:</strong> {{ contract.ixhua.website }}</p>

  <!-- <h2 class="my-2 mb-0 text-center fs-12px">DEL CONTRATO DE CRÉDITO SIMPLE</h2> -->
  <p>
    Esta carátula tiene por objeto brindar la información de forma clara y
    notoria del crédito otorgado, en cumplimiento a lo establecido por la Ley
    Federal de Protección al Consumidor, por lo que la presente carátula forma
    parte integral del contrato de Crédito Simple identificado
    administrativamente con el número que se señala en la parte superior
    derecha; por lo que lo firma el “Solicitante” a través de medios
    electrónicos manifestando su consentimiento de manera remota y de
    conformidad con los artículos 89, 90 fracción i, 91 fracción i y ii, 95 bis,
    así como también a todos los artículos relativos y demás aplicables del
    Código de Comercio respecto de las operaciones relativas al otorgamiento de
    créditos en la ciudad de Guadalajara, Jalisco a {{ contract.sign_date }}.
  </p>

  <div class="text-center pt-5">
    <p class="check">
      <span class="checkmark">
      </span>
    </p>
    <span class="check-label">He leído y estoy de acuerdo con la presente carátula de contrato.</span>
  </div>

  <p style="page-break-before: always" ></p>
  <h2 class="mt-5 mb-0 text-center fs-12px">CONTRATO DE CRÉDITO SIMPLE</h2>

  <p>
    <strong>CONTRATO DE CRÉDITO SIMPLE</strong>
    QUE CELEBRAN POR UNA PARTE LA EMPRESA MERCANTIL
    <span class="injected">{{ contract.ixhua.socialReason }}</span> A TRAVÉS DE
    REPRESENTANTE LEGAL EL SEÑOR
    <strong class="injected">{{ contract.ixhua.legalRepresentative }}</strong>
    POR UNA PARTE Y A LA QUE  EN LO SUCESIVO Y PARA EFECTOS DEL PRESENTE CONTRATO
    SE LE DENOMINARA COMO
    <strong class="injected">{{contract.ixhua.companyName}}</strong>
    Y POR OTRA PARTE
    <span class="injected">{{ contract.name }}</span> Y A QUIEN EN LO
    SUCESIVO Y PARA EFECTOS DEL PRESENTE CONTRATO SE LE DENOMINARA COMO
    <strong>EL CLIENTE</strong> EN LOS TÉRMINOS Y CONDICIONES QUE A CONTINUACIÓN SE
    PRECISAN; LA TOTALIDAD DE LOS COMPARECIENTES MANIFIESTAN SU CONFORMIDAD EN SUJETARSE
    AL PRESENTE INSTRUMENTO, AL TENOR DE LOS SIGUIENTES ANTECEDENTES, GENERALES,
    DECLARACIONES, DEFINICIONES Y CLÁUSULAS:
  </p>

  <h2 class="my-2 text-center fs-12px">A N T E C E D E N T E S :</h2>

  <p>
    <strong>PRIMERO.-</strong>
    Que <strong>EL CLIENTE</strong> previamente ingreso al sitio web
    <span class="injected"
      ><a [href]="contract.ixhua.website">{{ contract.ixhua.website }}</a></span
    >
    cuyo dominio es propiedad de
    <strong class="injected">{{ contract.ixhua.companyName }}</strong> en donde
    lleno su solicitud de apertura de crédito la cual ha quedado registrada bajo
    el folio <span class="injected">{{ contract.request_no }}</span> y en
    donde <strong>EL CLIENTE </strong>
    <strong class="text-underline text-italic">
      BAJO PROTESTA DE DECIR VERDAD
    </strong>
    manifiesta que toda la información proporcionada es verdadera y legítima sin
    que estos hayan sido alterados de alguna manera.
  </p>

  <p>
    <strong>SEGUNDO.-</strong>
    Que <strong>EL CLIENTE</strong> previamente ingreso al sitio web
    <span class="injected">
      <a [href]="contract.ixhua.website">{{ contract.ixhua.website }}</a>
    </span>
    cuyo dominio es propiedad de
    <strong class="injected">{{ contract.ixhua.companyName }}</strong> en donde
    llevó a cabo la creación de perfil y contraseñas para generar su Firma
    Electrónica; manifestando en este acto y
    <strong
      ><span class="text-underline text-italic"
        >BAJO PROTESTA DE DECIR VERDAD</span
      ></strong
    >
    que fue generada de manera secreta y que la información es correcta a fin de
    lograr vincular el presente contrato.
  </p>

  <h2 class="my-2 text-center fs-12px">G E N E R A L E S :</h2>

  <p><strong>I.- DE IXHUA:</strong></p>
  <table class="table">
    <tr>
      <td class="table-td">NOMBRE, RAZÓN SOCIAL O DENOMINACIÓN:</td>
      <td class="table-td">
        <strong>{{ contract.ixhua.socialReason }}</strong>
      </td>
    </tr>
    <tr>
      <td class="table-td">RFC:</td>
      <td class="table-td">
        <strong
          ><span class="injected">{{ contract.ixhua.rfc }}</span></strong
        >
      </td>
    </tr>
    <tr>
      <td class="table-td">NACIONALIDAD</td>
      <td class="table-td">
        <strong>{{ contract.ixhua.nationality }}</strong>
      </td>
    </tr>
    <tr>
      <td class="table-td">DOMICILIO:</td>
      <td class="table-td">
        <strong>{{ contract.ixhua.address }}</strong>
      </td>
    </tr>
    <tr>
      <td class="table-td">TELÉFONO:</td>
      <td class="table-td">
        <strong>{{ contract.ixhua.phone }}</strong>
      </td>
    </tr>
    <tr>
      <td class="table-td">NOMBRE DEL REPRESENTANTE LEGAL:</td>
      <td class="table-td">
        <strong>LIC. {{ contract.ixhua.legalRepresentative }}</strong>
      </td>
    </tr>
  </table>

  <p><strong>II.- DE EL CLIENTE:</strong></p>
  <table class="table">
    <tr>
      <td class="table-td">NOMBRE:</td>
      <td class="table-td">
        <span class="injected">{{ contract.name }}</span>
      </td>
    </tr>
    <tr>
      <td class="table-td">RFC:</td>
      <td class="table-td">
        <span class="injected">{{ contract.rfc }}</span>
      </td>
    </tr>
    <tr>
      <td class="table-td">CURP:</td>
      <td class="table-td">
        <span class="injected">{{ contract.curp }}</span>
      </td>
    </tr>
    <tr>
      <td class="table-td">FECHA DE NACIMIENTO:</td>
      <td class="table-td">
        <span class="injected">{{ contract.birthdate }}</span>
      </td>
    </tr>
    <tr>
      <td class="table-td">NACIONALIDAD:</td>
      <td class="table-td">
        <span class="injected">{{ contract.nationality }}</span>
      </td>
    </tr>
    <tr>
      <td class="table-td">SEXO:</td>
      <td class="table-td">
        <span class="injected">{{ contract.gender }}</span>
      </td>
    </tr>
    <tr>
      <td class="table-td">CORREO ELECTRONICO:</td>
      <td class="table-td">
        <span class="injected">{{ contract.email }}</span>
      </td>
    </tr>
    <tr>
      <td class="table-td">DOMICILIO:</td>
      <td class="table-td">
        <span class=“injected”>
          {{ contract.address }}, {{ contract.interior_no }} {{ contract.outdoor_no }}, {{ contract.suburb }}, C.P.: {{ contract.postal_code }}, {{ contract.city }}, {{ contract.state }}
        </span>
      </td>
    </tr>
    <tr>
      <td class="table-td">TELÉFONO DE CASA:</td>
      <td class="table-td">
        <span class="injected">{{ contract.phone }}</span>
      </td>
    </tr>
    <tr>
      <td class="table-td">TELEFONO CELULAR:</td>
      <td class="table-td">
        <span class="injected">{{ contract.cellphone }}</span>
      </td>
    </tr>
    <tr>
      <td class="table-td">EMPRESA EN DONDE TRABAJA:</td>
      <td class="table-td">
        <span class="injected">
          {{ contract.company }}
        </span>
      </td>
    </tr>
  </table>

  <h2 class="my-2 text-center fs-12px">D E C L A R A C I O N E S :</h2>

  <p>
    <strong>I.- DECLARA {{ contract.ixhua.companyName }}:</strong>
  </p>
  <ol class="m-0" type="a">
    <li>
      Que es una sociedad mercantil constituida de conformidad con las leyes
      mexicanas, según consta en la Póliza número 11,678 otorgada ante la fe del
      Lic. Eduardo de Anda Góngora Corredor Publico numero 38 del Estado de
      Jalisco.
    </li>

    <li>
      Por conducto del representante legal el señor
      <span class="injected">{{ contract.ixhua.legalRepresentative }}</span> y
      bajo protesta de decir verdad manifiesta que cuenta con capacidades
      suficientes para celebrar el presente contrato en nombre y representación
      de persona moral a que refiere la declaración inmediata anterior;
    </li>

    <li>
      Que dentro de su objeto social, entre otras, se encuentra la facultad de
      otorgar créditos a personas físicas.
    </li>

    <li>
      Que tiene su domicilio en la
      <strong>{{ contract.ixhua.address }} </strong>
    </li>

    <li>
      Que <strong>{{ contract.ixhua.companyName }}</strong> utilizará sus datos
      personales aquí recabados para fines de identificación y localización.
      Para mayor información acerca del tratamiento y de los derechos que pueden
      hacer valer, favor de acceder al aviso de privacidad y revisar nuestros
      términos y condiciones los cuales se encuentra en nuestro sitio web
      <span class="injected"><a [href]="contract.ixhua.website">{{ contract.ixhua.website }}</a></span>.
    </li>

    <li>
      Que es su voluntad expresar el consentimiento a sujetarse al presente
      contrato por medios electrónicos de conformidad a las disposiciones del
      Código de Comercio.
    </li>
  </ol>

  <p><strong>II.- DECLARA EL CLIENTE:</strong></p>
  <ol class="m-0" type="a">
    <li>
      Que es una persona física, mayor de edad, al corriente de sus obligaciones
      fiscales y en pleno uso de sus facultades para poder celebrar el presente
      contrato.
    </li>

    <li>
      Que ha solicitado a <strong>{{ contract.ixhua.companyName }}</strong> un
      crédito simple con interés y que previo a la celebración del presente
      contrato <strong>{{ contract.ixhua.companyName }}</strong> le ha hecho de
      su conocimiento los términos y condiciones del presente instrumento,
      manifestando estar de acuerdo con el contenido del mismo y de los demás
      documentos que se suscriben, así como el (CAT) Costo Anual Total expresado
      en términos porcentuales anuales que, para fines informativos y de
      comparación, incorpora la totalidad de los costos y gastos inherentes del
      crédito.
    </li>

    <li>
      Que <strong class="text-italic">Bajo protesta de decir verdad</strong>,
      declara que toda la información proporcionada a
      <strong>{{ contract.ixhua.companyName }}</strong> en la
      <strong>SOLICITUD DE APERTURA DE CRÉDITO</strong> es verídica.
    </li>

    <li>
      Que es su voluntad expresar el consentimiento a sujetarse al presente
      contrato por medios electrónicos de conformidad a las disposiciones del
      Código de Comercio.
    </li>
  </ol>

  <p><strong>III.- DECLARAN AMBAS PARTES:</strong></p>
  <ol class="m-0" type="a">
    <li>
      Que es la intención de ambas partes el celebrar el presente
      <strong class="text-underline">CONTRATO DE CRÉDITO SIMPLE</strong> en los
      términos y condiciones que quedarán establecidos a lo largo del presente
      contrato.
    </li>

    <li>
      <strong>BAJO PROTESTA DE DECIR VERDAD</strong> que ambas partes cuentan
      con plena capacidad Jurídica para celebrar el presente contrato y que
      previamente se han asesorado para efectos de entender el alcance del
      presente contrato.
    </li>

    <li>
      Que es su voluntad expresar el consentimiento y sujetarse al presente
      contrato por medios electrónicos de conformidad a las disposiciones del
      Código de Comercio.
    </li>
  </ol>

  <h2 class="my-2 text-center fs-12px">D E F I N I C I O N E S :</h2>
  <p>
    <strong>I.- DEFINICIONES GENERALES:</strong> Las partes acuerdan que para
    efectos del presente instrumento los conceptos que a continuación se
    indiquen tendrán el siguiente significado ya sea en singular o en plural.
  </p>

  <p class="pl-3">
    <strong>ANEXO:</strong> Documentos que se suscriben con tal carácter
    debidamente firmados por las partes y que forman parte integral del presente
    contrato.
  </p>

  <p class="pl-3">
    <strong>AUTENTIFICACIÓN:</strong> Es el conjunto de técnicas y
    procedimientos utilizados para verificar la identidad de
    <strong>EL CLIENTE</strong>.
  </p>

  <p class="pl-3">
    <strong>CAT:</strong> Es el costo de financiamiento expresado en términos
    porcentuales anuales que, para fines informativos y de comparación,
    incorpora la totalidad de los costos y gastos inherentes del crédito.
  </p>

  <p class="pl-3">
    <strong>CARÁTULA:</strong> Es el anexo por virtud del cual, se establecen
    los términos y condiciones generales del crédito otorgado a
    <strong>EL CLIENTE</strong> y el cual forma parte integral del presente
    contrato.
  </p>

  <p class="pl-3">
    <strong>CARTA DOMICILIACION DE PAGOS:</strong> Es el documento por virtud
    del cual <strong>EL CLIENTE</strong> autoriza a
    <strong>{{ contract.ixhua.companyName }}</strong> a realizar los cargos que
    emanan del presente contrato de manera domiciliada a su cuenta de banco.
  </p>

  <p class="pl-3">
    <strong>CONTRATO:</strong> El presente contrato de Crédito Simple, así como
    sus anexos y documentos que lo integran.
  </p>

  <p class="pl-3">
    <strong>DÍA HÁBIL:</strong> Los días dispuestos por la Comisión Nacional
    Bancaria y de Valores para que las instituciones de crédito presten sus
    servicios al publico.
  </p>

  <p class="pl-3"><strong>I.V.A:</strong> Impuesto al Valor Agregado.</p>

  <p class="pl-3">
    <strong>FIRMA ELECTRÓNICA:</strong> Los datos en forma electrónica
    consignados en un Mensaje de Datos, o adjuntados o lógicamente asociados al
    mismo por cualquier tecnología, que son utilizados para identificar al
    Firmante en relación con el Mensaje de Datos e indicar que el Firmante
    aprueba la información contenida en el Mensaje de Datos, y que produce los
    mismos efectos jurídicos que la firma autógrafa, siendo admisible como
    prueba en juicio.
  </p>

  <p class="pl-3">
    <strong>LFPC:</strong>Ley Federal de Protección al Consumidor (por sus
    siglas) vigente al momento de la firma del presente contrato.
  </p>

  <p class="pl-3">
    <strong>MEDIOS ELECTRÓNICOS:</strong> Son los equipos, medios ópticos o de
    cualquier otra tecnología, sistemas automatizados de procesamiento de datos
    y redes de telecomunicaciones.
  </p>

  <p class="pl-3">
    <strong>MENSAJE DE DATOS:</strong> Es toda la información generada, enviada,
    recibida, archivada o comunicada a través de medios Electrónicos de
    conformidad con el articulo 89 del Código de Comercio en vigor.
  </p>

  <p class="pl-3">
    <strong>SOLICITUD DE APERTURA DE CRÉDITO:</strong> Es el documento por
    virtud del cual <strong>EL CLIENTE</strong> previamente y
    <strong>BAJO PROTESTA DE DECIR VERDAD</strong>
    proporcionó su información general para efectos de poder realizar el
    presente contrato y la cual forma parte integral del presente contrato.
  </p>

  <p>
    De conformidad con las anteriores antecedentes, declaraciones y definiciones
    las partes están de acuerdo en sujetar el presente contrato, al tenor de las
    siguientes:
  </p>

  <p style="page-break-before: always" ></p>
  <h2 class="my-2 text-center fs-12px">C L Á U S U L A S</h2>
  <p class="mb-0"><strong>PRIMERA.- OBJETO.</strong></p>
  <p class="mt-0">
    El presente contrato tiene por objeto el otorgamiento de un crédito simple a
    <!-- VALIDAR EL OTRO CAMPO -->
    favor de <strong>EL CLIENTE</strong> por la cantidad de
    <span class="injected">${{ contract.amount }} MXN</span>
    ({{ contract.amountLetters }}), quien a su vez, se obliga a devolver
    forzosamente durante la vigencia del presente contrato a
    <strong>{{ contract.ixhua.companyName }}</strong> la totalidad del crédito y
    sus intereses ordinarios (en lo sucesivo la “Cantidad”) el día
    {{ contract.paymentDate }}.
  </p>

  <p class="mb-0"><strong>SEGUNDA.- INTERÉS ORDINARIO.</strong></p>
  <p class="mt-0">
    <strong>EL CLIENTE</strong> Está obligado a devolver la Cantidad junto con
    sus intereses ordinarios más I.V.A., calculados sobre el saldo insoluto
    anual a razón del {{ contract.interest }}% ({{ contract.interestToPayInLetters }})
    durante el tiempo de vigencia del presente contrato y al cual refiere la
    cláusula <strong>CUARTA</strong>.
  </p>

  <p>
    Los intereses Ordinarios se Calcularán sobre el saldo insoluto del crédito
    otorgado, de conformidad con lo establecido por el artículo 69 de la LFPC.
  </p>

  <p class="mb-0">
    <strong>SEGUNDA BIS- FORMA DE CALCULAR INTERÉS ORDINARIO</strong>
  </p>
  <p class="mt-0">
    Los intereses ordinario se calculan sobre la base de 360 (trescientos
    sesenta) días y se causarán sobre saldos insolutos por los días
    efectivamente transcurridos en cada período. El pago de los intereses no
    puede ser exigido por adelantado, sino únicamente por períodos vencidos.
  </p>

  <p class="mb-0"><strong>TERCERA.- DESTINO DEL CRÉDITO Y ENTREGA.</strong></p>
  <p class="mt-0">
    <strong>EL CLIENTE</strong> en este acto manifiesta que el destino de el
    importe del crédito es lícito y permitido por la ley y el cuál será
    destinado para <span class="injected">{{ contract.loanDestination }}</span>
    {{ contract.ixhua.companyName }} le hará llegar el importe del crédito a
    <strong>EL CLIENTE</strong> en una sola exhibición mediante transferencia
    electrónica a la cuenta CLABE {{ contract.clabe }} de la Institución
    Bancaria {{ contract.bankName }}, que tiene a su nombre y la cual le fue
    proporcionada a {{ contract.ixhua.companyName }} en la
    <strong>SOLICITUD DE APERTURA DE CRÉDITO</strong>, por lo que el comprobante
    de depósito hará las veces de recibo.
  </p>

  <p class="mb-0"><strong>CUARTA.- PLAZO.</strong></p>
  <p class="mt-0">
    <strong>EL CLIENTE</strong> en este acto se obliga a pagar la Cantidad de
    ${{ contract.totalAmount }} MXN el dia {{ contract.paymentDate }} obligándose a
    realizar el pago en los términos y formas que se establecen en la cláusula
    QUINTA del presente contrato y del total del crédito dispersado junto con
    todos sus accesorios; por lo que el presente contrato no dejará de surtir
    sus efectos hasta en tanto no se liquiden la totalidad de las obligaciones a
    cargo de <strong>EL CLIENTE</strong>.
  </p>

  <p class="mb-0">
    <strong
      >QUINTA.- FORMA DE PAGO, OBLIGACIONES Y FECHAS DE ACREDITACIÓN.</strong
    >
  </p>
  <p class="mt-0">
    <strong>EL CLIENTE</strong> se obliga a pagar sin necesidad de requerimiento
    previo a {{ contract.ixhua.companyName }} o a quien sus derechos representen
    <strong>LA CANTIDAD</strong>, intereses moratorios, gastos legales,
    penalidades y en general todas las obligaciones que de este deriven del
    presente contrato cuenta bancaria que más a delante se señala o en cualquier
    otra que
    <strong class="injected">{{ contract.ixhua.companyName }}</strong> le
    indique a <strong>EL CLIENTE</strong>; la cuenta en la que
    <strong>EL CLIENTE</strong>
    deberá hacer los depósitos es la siguiente:
  </p>

  <p class="m-0">
    Institución bancaria:
    <span class="injected">{{ contract.ixhua.bank }}</span>
  </p>
  <p class="m-0">
    Cuenta: <span class="injected">{{ contract.ixhua.bankAccount }}</span>
  </p>
  <p class="m-0">
    Cuenta Clabe: <span class="injected">{{ contract.ixhua.clabe }}</span>
  </p>
  <p class="m-0">
    Titular: <span class="injected">{{ contract.ixhua.socialReason }}</span>
  </p>
  <p class="m-0">
    Referencia:
    <span class="injected">{{ contract.contract_no }}</span
    >.
  </p>

  <p>
    <strong>EL CLIENTE</strong> no podrá retener el pago en ningún caso, así
    mismo, y sin perjuicio de lo anterior <strong>EL CLIENTE</strong> autoriza a
    <strong class="injected">{{ contract.ixhua.companyName }}</strong> a llevar
    a cabo el cobro a través del sistema de domiciliación de pago a la cuenta de
    <strong>EL CLIENTE</strong> y en caso de que no cuente con fondos
    suficientes la cuenta de <strong>EL CLIENTE </strong>
    <strong class="injected"> {{ contract.ixhua.companyName }}</strong> tendrá
    la facultad de realizar los intentos de cargo necesarios para cubrir el
    adeudo, incluyendo el capital, intereses ordinarios, intereses moratorios,
    impuestos, gastos y accesorios.
  </p>

  <p class="mb-0">
    <strong>LAS PARTES</strong> acuerdan que cualquier suma de dinero que
    <strong>EL CLIENTE</strong> entregue a
    <strong class="injected">{{ contract.ixhua.companyName }}</strong> se
    aplicará en el orden siguiente:
  </p>

  <ol type="a" class="mt-0">
    <li>Gastos, impuestos, derechos, honorarios de abogados, penalidades.</li>
    <li>Intereses moratorios.</li>
    <li>Intereses Ordinarios y saldo insoluto de capital.</li>
  </ol>

  <p>
    Las fechas de acreditación de los pagos efectuados por
    <strong>EL CLIENTE</strong> serán de acuerdo al medio con el que se
    efectúen:
  </p>

  <p class="mb-0 ml-3"><strong>I. EFECTIVO:</strong></p>
  <p class="m-0 ml-3">
    - Se acreditará el mismo día que se recibe el pago y al cual refiere la ficha de depósito bancario.
  </p>

  <p class="mb-0  ml-3"><strong>II. DOMICILIACIÓN:</strong></p>
  <p class="m-0 ml-3">
    - En la fecha en que
    <strong class="injected">{{ contract.ixhua.companyName }}</strong> acuerde
    con <strong>EL CLIENTE</strong>, que será en la fecha límite de pago del
    presente contrato, siempre y cuando la cuenta tenga fondos y la
    domiciliación haya sido correctamente procesada por los bancos.
  </p>

  <p class="mb-0 ml-3">
    <strong>III.TRANSFERENCIAS ELECTRONICAS DE FONDOS:</strong>
  </p>
  <p class="m-0 ml-3">
    - Sí el pago es a través del Sistema de Pagos Electrónicos Interbancarios
    (SPEI), o mediante cargos y abonos a cuentas en la misma institución de
    crédito, se acreditará el mismo día hábil en el que se reciba la
    transferencia.
  </p>
  <p class="m-0 ml-3">
    - Sí el pago es a través del sistema de Transferencias Electrónicas de
    diferente institución de crédito, se acreditará a mas tardar el día hábil
    siguiente al que se ordene la transferencia.
  </p>

  <p class="mb-0  ml-3">
    <strong>IV. CHEQUE</strong>
  </p>
  <p class="m-0 ml-3">
    - Cuando el pago se realice en la cuenta de
    <strong class="injected">{{ contract.ixhua.companyName }}</strong> se
    atenderá a los siguiente:
  </p>
  <p class="m-0 ml-3">
    - Sí es de la misma institución de crédito se acredita el mismo día.
  </p>
  <p class="m-0 ml-3">
    - Sí es a cargo de otra institución de crédito deberá depositarse cuando
    menos <strong>DOS</strong> días antes de las fechas de pago.
  </p>

  <p>
    En cualquier caso <strong>EL CLIENTE</strong> deberá de comunicarse con
    <strong class="injected">{{ contract.ixhua.companyName }}</strong> para
    cerciorarse que se hizo correctamente la aplicación de sus pagos mediante
    envió de correo electrónico a
    <a [href]="contract.ixhua.contact">{{ contract.ixhua.contact }}</a>
    adjuntando el comprobante de pago.
  </p>

  <p class="mb-0">
    <strong>SEXTA.- TERMINACIÓN POR PAGO ANTICIPADO DE LA TOTALIDAD.</strong>
  </p>
  <p class="mt-0">
    <strong>EL CLIENTE</strong> podrán anticipar la totalidad de la Cantidad sin
    penalidad alguna siempre y cuando se encuentre al corriente de todas sus
    obligaciones contenidas en el presente contrato; de lo contrario se
    aplicarán los pagos conforme a lo establecido en la cláusula inmediata
    anterior.
  </p>

  <p class="mt-0">
    El monto que debe de cubrir <strong>EL CLIENTE</strong> será el capital y
    los intereses devengados al día en el que se realice el pago total, por lo
    que deberá de solicitar al correo:
    <a [href]="contract.ixhua.contact">{{ contract.ixhua.contact }}</a> su saldo
    y pagarlo ese mismo día; una vez realizado el pago deberá de enviar la ficha
    de depósito o el comprobante de transferencia electrónica al mismo correo
    para que una vez que
    <strong class="injected">{{ contract.ixhua.companyName }}</strong> haya
    acreditado el pago total del crédito le extenderá en un plazo no mayor a 7
    días hábiles una carta finiquito y cancelará las autorizaciones de
    domiciliación.
  </p>

  <p class="mb-0"><strong>SEPTIMA.- PAGOS ANTICIPADOS.</strong></p>
  <p class="m-0">
    <strong>EL CLIENTE</strong> podrán anticipar a capital sin penalidad alguna
    siempre y cuando se encuentre al corriente de todas sus obligaciones
    contenidas en el presente contrato; de lo contrario se aplicarán los pagos
    conforme a lo establecido en la cláusula <strong>QUINTA</strong>.
  </p>

  <p>
    Los pagos anticipados se aplicarán directamente a capital por lo que se
    reducirá el monto financiado obligándose <strong>EL CLIENTE</strong> a
    notificar a
    <strong class="injected">{{ contract.ixhua.companyName }}</strong> a través
    del envió de la ficha o acuse de transferencia correspondiente al correo:
    <a [href]="contract.ixhua.contact">{{ contract.ixhua.contact }}</a> por lo
    que una vez recibido
    <strong class="injected">{{ contract.ixhua.companyName }}</strong> le hará
    llegar al correo señalado en las <strong>GENERALES</strong> de el cliente
    con su nuevo monto de pago y tabla de pagos.
  </p>

  <p>
    <strong>OCTAVA. INTERÉS MORATORIO</strong>: Las cantidades no pagadas en
    tiempo y forma generarán intereses moratorios sobre saldos insolutos que se
    calcularán a razón del 1.5 % (uno punto cinco por ciento) diario más I.VA.
    desde la fecha de incumplimiento en el pago y hasta la fecha de pago
    efectiva;
    <strong class="injected">{{ contract.ixhua.companyName }}</strong> en este
    acto fija que el monto máximo al que podrán llegar los intereses moratorios
    será de máximo 10 (diez) días naturales de atraso a partir de la fecha de
    incumplimiento.
  </p>

  <p class="m-0">
    <strong>OCTAVA BIS- FORMA DE CALCULAR INTERES MORATORIO</strong>
  </p>
  <p class="mt-0">
    Para el calculo de los intereses moratorios se multiplicará el saldo vencido
    por la tasa del interés moratorio anual y se dividirá entre 360 (trescientos
    sesenta) arrojando el monto del interés moratorio diario que será
    multiplicado por el numero de días que el crédito haya permanecido en mora,
    a cuyo resultado se adicionará el I.V.A. correspondiente.
  </p>

  <p class="m-0">
    <strong>NOVENA.- GASTOS DE COBRANZA.</strong>
  </p>
  <p class="mt-0">
    Las partes establecen como gastos de cobranza el 10% (diez por ciento) más
    I.V.A. sobre el saldo adeudado cada vez que
    <strong class="injected">{{ contract.ixhua.companyName }}</strong> intente
    efectuar el cobro del saldo vencido a <strong>EL CLIENTE</strong>; adicional
    a la obligación de pagar intereses moratorios estipulados en el presente
    contrato.
  </p>

  <p class="m-0">
    <strong>DECIMA.- DÍAS INHÁBILES.</strong>
  </p>
  <p class="mt-0">
    Todas las obligaciones contenidas en este contrato, cuyo vencimiento tenga
    lugar en un día inhábil, deberá considerarse que el vencimiento de las
    mismas, será el día hábil siguiente.
  </p>
  <p>
    Para efectos del presente contrato, se entenderá como día hábil, los días de
    la semana excepto sábados, domingos y aquellos en que las instituciones de
    crédito estén obligadas a cerrar sus oficinas en términos del calendario que
    para tales efectos publica anualmente la Comisión Nacional Bancaria y de
    Valores (CNBV).
  </p>

  <p class="m-0">
    <strong>DECIMA PRIMERA.- ESTADO DE CUENTA.</strong>
  </p>
  <p class="m-0">
    <strong>EL CLIENTE</strong> podrá revisar dentro del sitio www.ixhua.mx
    ingresando con su RFC (Registro Federal de Contribuyentes) y contraseña el
    estado de su crédito, en donde por mencionar algunas encontrará la siguiente
    información:
  </p>

  <ol type="i">
    <li>Número de crédito;</li>
    <li>Fecha de solicitud de crédito;</li>
    <li>Monto de pago;</li>
    <li>Fecha de pago;</li>
    <li>Saldo final (si es que lo hay);</li>
    <li>Penalidades generadas;</li>
    <li>Penalidades pagadas.</li>
  </ol>

  <p class="m-0">
    <strong>DECIMA SEGUNDA.- CAUSAS DE RECISIÓN.</strong>
  </p>
  <p class="mt-0">
    <strong class="injected">{{ contract.ixhua.companyName }}</strong> tendrá
    derecho a rescindir el presente contrato sin necesidad de declaración
    judicial o bien exigir su vencimiento anticipado y cumplimiento forzoso si
    EL CLIENTE incumpliera con cualquiera de las obligaciones que se mencionan a
    lo largo del presente contrato, así como también, las siguientes:
  </p>

  <ol type="1">
    <li>Sí el destino del crédito es utilizado para un acto ilícito;</li>
    <li>Por falta de pago.</li>
    <li>
      En caso de que <strong>EL CLIENTE</strong> cambie su domicilio y no de
      aviso por correo electrónico y con acuse de recibido al siguiente correo:
      <a [href]="contract.ixhua.contact">{{ contract.ixhua.contact }}</a>
    </li>
    <li>
      Sí alguno de los documentos entregados para la integración del expediente
      resultara ser incorrecto.
    </li>
    <li>
      Sí alguno de los documentos entregados para la integración del expediente
      resultara ser falso, adicionalmente a las denuncias penales que en su
      momento se llegarán a presentar.
    </li>
    <li>
      Sí alguna de las declaraciones realizadas por
      <strong>EL CLIENTE</strong> en la
      <strong>SOLICITUD DE APERTURA DE CRÉDITO</strong> o en este contrato
      resultasen o en este contrato resultasen incorrectas.
    </li>
    <li>
      Sí alguna de las declaraciones realizadas por
      <strong>EL CLIENTE</strong> en la
      <strong>SOLICITUD DE APERTURA DE CRÉDITO</strong> o en este contrato
      resultasen falsas, adicionalmente a las denuncias penales que en su
      momento se llegarán a presentar.
    </li>

    <li>
      Sí <strong>EL CLIENTE</strong> deja de trabajar en la empresa que se
      establece en las <strong>GENERALES</strong> de
      <strong>EL CLIENTE</strong>, salvo que notifique datos del nuevo empleo y
      proporcione la nueva cuenta a la que domiciliará sus pagos pendientes, lo
      anterior quedara sujeto a aprobación expresa de
      <strong class="injected">{{ contract.ixhua.companyName }}</strong
      >.
    </li>
  </ol>

  <p class="m-0">
    <strong>DECIMA TERCERA.- EFECTOS DE LA RECISIÓN.</strong>
  </p>

  <p class="mt-0">
    Sí se llegara a actualizar cualquier causal de recisión inherentes a
    <strong>EL CLIENTE</strong>, <strong>EL CLIENTE</strong> en este acto y sin
    necesidad de declaración judicial se obliga a pagar el importe total del
    capital pendiente por pagar más el interés ordinario, más I.V.A., así como
    también los intereses moratorios más I.V.A. que se hubieran generado por
    pago tardío, como también cualquier gasto o penalidad establecidas en el
    presente contrato inmediatamente después de que
    <strong class="injected">{{ contract.ixhua.companyName }}</strong> se lo
    requiera.
  </p>

  <p>
    Por lo que respecta a los numerales 4, 5, 6 y 7 de la cláusula
    <strong>DECIMA SEGUNDA</strong> quedará facultado
    <strong class="injected">{{ contract.ixhua.companyName }}</strong> para
    <strong>NO</strong> realizar la dispersión del monto solicitado y cancelar
    el presente contrato sin necesidad de declaración judicial.
  </p>

  <p class="m-0">
    <strong
      >DECIMA CUARTA.- FACULTAD DE CANCELAR EL CREDITO POR EL CLIENTE.</strong
    >
  </p>
  <p class="mt-0">
    <strong>EL CLIENTE</strong> gozará de un periodo de gracia de 10 (diez) días
    naturales contados a partir de que se firmó el presente contrato para
    cancelarlo sin responsabilidad para éste, siempre y cuando no haya dispuesto
    del monto del crédito establecido en la cláusula
    <strong>PRIMERA</strong> del presente contrato, debiendo de acreditarlo
    dentro de los 10 días hábiles posteriores a que recibió la Cantidad.
  </p>

  <p class="m-0">
    <strong>DECIMA QUINTA.- CESIÓN</strong>
  </p>
  <p class="mt-0">
    Queda estrictamente prohibido que <strong>EL CLIENTE</strong> ceda, negocie
    o traspase los derechos emanados del presente contrato; sin embargo,
    <strong>EL CLIENTE</strong> autoriza en este acto a
    <strong class="injected">{{ contract.ixhua.companyName }}</strong> para que
    sin previa notificación a <strong>EL CLIENTE</strong> este pueda transmitir,
    negociar, gravar o ceder los derechos y obligaciones los derechos emanados
    del presente contrato.
  </p>
  <p>
    Así mismo, <strong>EL CLIENTE</strong> renuncia a lo establecido en el
    segundo párrafo del articulo 299 de la Ley General de Títulos y Operaciones
    de Crédito respecto al abono de los intereses para el caso en el que
    <strong class="injected">{{ contract.ixhua.companyName }}</strong> llegará a
    transmitir, negociar, gravar o ceder los derechos y obligaciones del
    presente contrato.
  </p>

  <p class="m-0">
    <strong>DECIMA SEXTA. MEDIOS ELECTRONICOS.</strong>
  </p>
  <p class="mt-0">
    Las partes manifiestan su consentimiento en que el presente contrato se
    lleve a cabo por medios electrónicos ya que se esta dando cumplimiento a lo
    establecido en los artículos 89, 90, fracción I, 91, fracción I y II, 95
    BIS, así como también a todos los artículos relativos y demás aplicables del
    Código de Comercio.
  </p>
  <p>
    Así mismo, en este acto <strong>EL CLIENTE</strong> autoriza a
    <strong class="injected">{{ contract.ixhua.companyName }}</strong> para que
    pueda enviar toda clase de avisos, notificaciones, modificaciones al
    presente contrato, promociones, publicidad, estado de cuenta e información
    adicional, a través de correo electrónico y demás medios electrónicos,
    ópticos o de cualquier otra tecnología que por avances tecnológicos
    faciliten las comunicaciones con <strong>EL CLIENT</strong>E. Las
    disposiciones relativas al comercio electrónico le serán aplicables al
    presente contrato por lo que todos los documentos emitiditos por
    <strong class="injected">{{ contract.ixhua.companyName }}</strong> a través
    de medios electrónicos, acreditarán la creación, transmisión, modificación o
    extinción de derechos y obligaciones de las partes que de los saldos
    resulten a cargo o a favor de <strong>EL CLIENT</strong>E.
  </p>

  <!-- @TODO: revisar esta opcion ya no viene en e documento -->
  <!-- <p>
    <strong>DECIMA SEPTIMA.- PAGARÉ: EL CLIENTE</strong> se obligan a suscribir
    a favor de <strong>LA EMPRESA</strong>, un pagaré autónomo, por la suma
    correspondiente al valor total del crédito, quedando
    <strong>LA EMPRESA</strong> plenamente facultado para cederlo, endosarlo o
    negociarlo sin previa notificación a <strong>EL CLIENTE</strong>. En este
    acto <strong>EL CLIENTE</strong> autoriza a <strong>LA EMPRESA</strong> para
    cederlo, descontarlo o ejercerlo judicialmente de manera independiente al
    presente contrato.
  </p> -->

  <p class="m-0"><strong>DECIMA SEPTIMA.- AUTORIZACIÓNES.</strong></p>
  <p class="mt-0">
    En este acto <strong>EL CLIENTE</strong> autoriza expresamente a
    <strong class="injected">{{ contract.ixhua.companyName }}</strong> a
    realizar las siguientes acciones:
  </p>
  <ol type="i">
    <li>
      Compartir su información personal, nombre, domicilio y teléfonos, con
      prestadores de servicios operativos y de maquila que sean necesarios para
      la operación del Crédito, así como a todos y cada uno de los miembros del
      grupo económico al que pertenece
      <strong class="injected">{{ contract.ixhua.companyName }}</strong> y sus
      <strong>AFILIADAS</strong>.
    </li>
    <li>
      Permitir que cualquier afiliada de
      <strong class="injected">{{ contract.ixhua.companyName }}</strong> pueda
      substituirse sobre cualquier obligación de
      <strong class="injected">{{ contract.ixhua.companyName }}</strong> bajo
      este contrato.
    </li>
    <li>
      Autoriza a
      <strong class="injected">{{ contract.ixhua.companyName }}</strong
      >, sus afiliadas y miembros del grupo económico pertenecientes a
      <strong class="injected">{{ contract.ixhua.companyName }}</strong> para
      utilizar y compartir sus datos personales para contacto con fines
      mercadotécnicos y/o publicitarios, autorización que podrá ser revocada
      poniéndose en contacto a través de nuestra página de internet
      <a [href]="contract.ixhua.website">{{ contract.ixhua.website }}</a>
    </li>
    <li>
      Solicitar, reportar y recabar información sobre operaciones crediticias y
      otras de naturaleza análoga que haya celebrado con
      <strong class="injected">{{ contract.ixhua.companyName }}</strong> a
      cualquiera de las Sociedades de Información Crediticia sobre su historial
      crediticio tal y como se estableció en la
      <strong>SOLICITUD DE APERTURA DE CRÉDITO</strong>.
    </li>
    <li>
      Acepta y autoriza que todas las obligaciones de pago derivadas del
      presente contrato sean reportadas a las Sociedades de Información
      Crediticia.
    </li>
  </ol>

  <p class="mb-0"><strong>DECIMA OCTAVA.- AVISO DE PRIVACIDAD.</strong></p>
  <p class="mt-0">
    {{ contract.ixhua.socialReason }} con domicilio en {{ contract.ixhua.address }} utilizará sus
    datos personales aquí recabados para fines de identificación y localización.
    Para mayor información acerca del tratamiento y de los derechos que pueden
    hacer valer, favor de acceder al aviso de privacidad que se encuentra en
    nuestra página de internet <a [href]="contract.ixhua.website">{{contract.ixhua.website}}</a>
  </p>

  <p class="mb-0"><strong>DECIMA NOVENA.- OBLIGACIONES FISCALES.</strong></p>
  <p class="mt-0">
    Es obligación de cada una de las partes pagar puntualmente todos los impuestos y
    derechos que se generen del presente contrato y que de conformidad con las leyes
    mexicanas llegarán a aplicar. En caso de reforma o modificación a las disposiciones
    fiscales o administrativas aplicables en México, el importe de los pagos se ajustará
    de conformidad con dichas disposiciones, sin requerimiento adicional entre las partes
    a los señalados en las mismas.
  </p>

  <p class="mb-0">
    <strong>VIGESIMA.- TÍTULOS DE LAS CLAUSULAS.</strong>
  </p>
  <p class="mt-0">
    Los títulos en las cláusulas son única y exclusivamente para facilitar su lectura por
    lo que no tendrán trascendencia alguna en la interpretación legal de las mismas.
  </p>

  <p class="mb-0">
    <strong>VIGESIMA PRIMERA.- MODIFICACIONES.</strong>
  </p>
  <p class="mt-0">
    Los términos y condiciones del presente contrato, solo podrán ser modificados mediante
    acuerdo expreso y por escrito de las partes.
  </p>

  <p class="mb-0">
    <strong>VIGESIMA SEGUNDA.- DEFINITIVIDAD.</strong>
  </p>
  <p class="mt-0">
    <strong>LAS PARTES</strong> reconocen y aceptan que el presente contrato representa
    el total acuerdo de voluntades entre éstas, dejando sin efecto cualquier otro convenio
    u otra comunicación ya sea oral o escrita anterior a su firma, siendo el presente
    instrumento el único documento legal que rige las obligaciones existentes entre las partes.
  </p>

  <p class="mb-0">
    <strong>VIGESIMA TERCERA.- DOMICILIOS.</strong>
  </p>
  <p class="mt-0">
    Las partes señalan como sus domicilios para todo lo relativo a la interpretación y
    cumplimiento del presente contrato los señalados en las declaraciones del presente
    contrato de cada una de las partes.  Conviniendo  en que cualquier modificación a
    sus domicilios deberá ser previamente notificada a la otra parte de lo contrario,
    cualquier notificación o entrega de cualquier documento efectuada en los domicilios
    antes indicados surtirá plenos efectos. Las partes acuerdan que sí
    <strong>EL CLIENTE</strong> cambia de domicilio y no notifican a
    <strong class="injected">{{contract.ixhua.companyName}}</strong> será causal de
    rescisión anticipada del presente contrato.
  </p>

  <p class="mb-0">
    <strong>VIGESIMA CUARTA.- VICIOS DEL CONSENTIMIENTO.</strong>
  </p>
  <p class="mt-0">
    <strong>LAS PARTES</strong> aceptan que en el presente contrato no hay error, dolo,
    mala fe, lesión o violencia ni cualquier otro vicio que pudiera generar ineficacia
    en este acuerdo de voluntades, así como a los derechos que renunciaron, así mismo,
    manifiestan que entienden el alcance legal de todos los términos del contrato.
  </p>

  <p class="mb-0">
    <strong>VIGESIMA QUINTA.- PROFECO.</strong>
  </p>
  <p>
    En caso de controversia <strong>El CLIENTE</strong> podrá presentar su
    reclamación ante la <strong>PROCURADURÍA FEDERAL DEL CONSUMIDOR</strong> en
    lo sucesivo <strong>PROFECO</strong> comunicándose a los números del centro
    de atención telefónica de <strong>PROFECO</strong> en:
  </p>
  <p class="m-0">{{ contract.profeco.address }}</p>
  <p class="m-0">
    Teléfono: {{ contract.profeco.phone }}, Atención a la ciudadanía:
    {{ contract.profeco.phoneCitizensAttention }}
  </p>
  <p class="m-0">
    Procuraduría Federal del Consumidor.
  </p>
  <p class="m-0">
    Página de internet
    <a [href]="contract.profeco.website">{{ contract.profeco.website }}</a
    >.
  </p>

  <p class="mb-0">
    <strong>VIGESIMA SEXTA.- PROPIEDAD INTELECTUAL.</strong>
  </p>
  <p class="mt-0">
    <strong>LAS PARTES</strong> acuerdan y reconocen que los  diseños, marcas, logos,
    avisos, denominaciones, etc, de
    <strong class="injected">{{contract.ixhua.companyName}}</strong>,
    son única y de exclusiva titularidad de esta y que la misma cuenta con los
    títulos de propiedad expedidos por el Instituto Mexicano de la propiedad Industrial
    de conformidad a las leyes Mexicanas vigentes en materia de propiedad Industrial.
  </p>

  <p class="mb-0">
    <strong>VIGESIMA SEPTIMA.- NO RENUNCIA DE DERECHOS</strong>
  </p>
  <p class="mt-0">
    La omisión por parte de
    <strong class="injected">{{contract.ixhua.companyName}}</strong>
    en el ejercicio de sus derechos previstos en este instrumento, en ningún caso tendrán
    el efecto de renuncia de los mismos, de igual forma el ejercicio singular o parcial
    por parte de <strong class="injected">{{contract.ixhua.companyName}}</strong> de
    dichos derechos no excluyen algún otro derecho, facultad o privilegio a favor de
    <strong class="injected">{{contract.ixhua.companyName}}</strong> de acuerdo a
    lo previsto en el presente contrato.
  </p>

  <p>
    <strong>VIGESIMA OCTAVA.- GASTOS Y COSTAS JUDICIALES:</strong> Convienen las partes
    que en caso de ser necesario y se tenga que recurrir a instancias legales para el
    cobro de las obligaciones derivadas del presente contrato EL <strong>CLIENTE</strong>
     se obliga a pagar los honorarios de los abogados contratados por
     <strong class="injected">{{contract.ixhua.companyName}}</strong>
     así como también todos y cada uno de los gastos judiciales que
     <strong class="injected">{{contract.ixhua.companyName}}</strong> realice.
  </p>

  <p class="mb-0">
    <strong>VIGESIMA NOVENA.- COMPETENCIA.</strong>
  </p>
  <p class="mt-0">
    Para la interpretación y cumplimiento del presente Contrato, las
    <strong>PARTES</strong> expresamente se someten a las leyes de los
    Estados Unidos Mexicanos y a los tribunales del primer partido Judicial
    del estado de Jalisco, renunciando las partes a cualquier otro fuero que por razón
    de domicilio presente o futuro o por cualquier otra razón pudiera corresponderles.
  </p>

  <p>
    Leído el presente contrato y enteradas las partes de sus obligaciones de común
    acuerdo manifiestan su consentimiento en celebrar el presente contrato el día
    <span class="injected">{{ contract.sign_date_day }}</span> de
    <span class="injected">{{ contract.sign_date_month }}</span> de
    <span class="injected">{{ contract.sign_date_year }}</span>,
    manifestando su consentimiento de manera remota y de conformidad con los
    artículos 89, 90 fracción i, 91 fracción i y ii,  95 bis, así como también a todos los
    artículos relativos  y demás aplicables del Código de Comercio respecto de las
    operaciones relativas al otorgamiento de créditos vía electrónica.
  </p>

  <p>
    Se entrega vía correo electrónico a los correos señalados en las generales de cada una
    de las partes el contrato incluyendo todos sus anexos y quedando así todos los
    documentos vinculados en poder de cada una de las partes.
  </p>

  <div class="text-center pt-5">
    <p class="check">
      <span class="checkmark">
      </span>
    </p>
    <span class="check-label">He leído y estoy de acuerdo con el contenido del presente contrato.</span>
  </div>

  <p style="page-break-before: always" ></p>
  <h2 class="mt-5 mb-0 text-center fs-12px">
    CARTA DE DOMICILIACIÓN DE PAGOS
  </h2>

  <p>Por medio del presente el suscrito autoriza a <strong>{{contract.ixhua.socialReason}}</strong> para que a través de la institución bancaria <strong>BBVA BANCOMER S.A.</strong> o cualquier otra a nombre de este a que se realice el cargo a que refiere el contrato de crédito simple identificado administrativamente con el número {{contract.contract_no}} que tengo celebrado con la empresa anteriormente citada en base a la siguiente información: </p>

  <table class="table">
    <tr>
      <td class="table-td">NOMBRE DEL TITULAR DE LA CUENTA:</td>
      <td class="table-td"><strong>{{ contract.name }}</strong></td>
    </tr>
    <tr>
      <td class="table-td">INSTITUCIÓN BANCARIA:</td>
      <td class="table-td"><strong>{{ contract.bankName }}</strong></td>
    </tr>
    <tr>
      <td class="table-td">CLABE INTERBANCARIA:</td>
      <td class="table-td"><strong>{{ contract.clabe }}</strong></td>
    </tr>
    <tr>
      <td class="table-td">TIPO DE CUENTA:</td>
      <td class="table-td"><strong>
        {{ contract.accountType }}
      </strong></td>
    </tr>
    <tr>
      <td class="table-td">PRODUCTO, BIEN O SERVICIO A PAGAR:</td>
      <td class="table-td"><strong>
          {{ contract.product }}
      </strong></td>
    </tr>
  </table>

  <p>{{contract.name}} se obliga a cumplir con sus obligaciones de pago en los términos señalados en el Contrato a que refiere la presente Carta de Domiciliación de Pagos, por lo que en este acto autoriza a que el importe máximo de cada cargo podrá ser  de hasta de $ 19,000.00 (diecinueve mil pesos 00/100 M.N.).</p>
  <p>En este momento autorizo el cobro domiciliado sin requerimiento o cobro previo, la cantidad total del crédito, sus accesorios y cualquier otra cantidad que pudieran resultar exigibles a favor de <strong>{{contract.ixhua.socialReason}}</strong> en virtud del Contrato que se tiene celebrado entre las partes, así como todos los gastos, comisiones e impuestos que origine el mismo.</p>
  <p>Para efectos de que <strong>{{contract.ixhua.socialReason}}</strong> se encuentre posibilitado de realizar los cobros de las amortizaciones del crédito, me comprometo a contar con los saldos suficientes a la fecha de obligación del contrato, así como mantener dicha cuenta vigente por la duración de las obligaciones contraídas. Obligándome a informarle cualquier cambio en mi cuenta bancaria. En caso de que no cuente con fondos suficientes la cuenta aquí autorizada, autorizo para que <strong>{{contract.ixhua.socialReason}}</strong> realice los intentos de cargo necesarios para cubrir el adeudo, incluyendo el capital, intereses ordinarios, intereses moratorios y accesorios.</p>
  <p>Así mismo, sí por cualquier circunstancia <strong>{{contract.ixhua.socialReason}}</strong> no carga los fondos que se requieran para aplicarlos al pago de cualquier cantidad y/o concepto derivados del Contrato, esto no exime de la obligación del Acreditado de pagar en los domicilios y/o cuentas bancarias estipuladas conforme al Contrato.</p>
  <p class="text-center">La presente autorización estará vigente por todo el plazo que establece el Contrato y hasta en tanto no se liquiden todas las obligaciones a cargo del suscrito, derivadas del citado contrato.</p>
  <p class="text-center">Sin más por el momento, se extiende la presente para los efectos legales que haya lugar. </p>
  <p class="text-center">___________________________________________________</p>
  <p class="text-center m-0">{{contract.name}}</p>
  <p class="text-center m-0">{{contract.sign_date}}</p>


  <div class="text-center pt-5">
    <p class="check">
      <span class="checkmark">
      </span>
    </p>
    <span class="check-label">He leído y estoy de acuerdo con que domicilien a mi cuenta.</span>
  </div>

</section>
