<!--[if mso | IE]>
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:500px;" width="500"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
<div style="Margin:0px auto;max-width:500px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
        <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:0 24px;text-align:center;vertical-align:top;">
                    <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">

        <tr>

            <td
               class="" style="vertical-align:top;width:452px;"
            >
          <![endif]-->
                    <div class="mj-column-per-100 outlook-group-fix" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tbody>
                                <tr>
                                    <td style="vertical-align:top;padding:0;">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                                            <tr>
                                                <td align="left" style="font-size:0px;padding:0;word-break:break-word;">
                                                    <div style="font-family:'Intro Book', 'Helvetica Neue', Helvetica, sans-serif;font-size:15px;font-weight:300;line-height:28px;text-align:left;color:#4A4A4A;">
                                                        Hola {{names}} {{father_last_name}} {{mother_last_name}},
                                                        <br>
                                                        <br>
                                                        ¡Muchas gracias por el pago de tu crédito {{request_no}} por la cantidad de ${{amount}} con fecha de vencimiento el día {{payment_date}}! 
                                                        <br>
                                                        <br>
                                                        Te recordamos que por cada pago puntual, accedes a mejores condiciones de pago.
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--[if mso | IE]>
            </td>

        </tr>

                  </table>
                <![endif]-->
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--[if mso | IE]>
          </td>
        </tr>
      </table>
      <![endif]-->