    <!--[if mso | IE]>
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:500px;" width="500"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
    <div style="Margin:0px auto;max-width:500px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
        <tbody>
          <tr>
            <td style="direction:ltr;font-size:0px;padding:0 24px;text-align:center;vertical-align:top;">
              <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">

        <tr>

            <td
               class="" style="vertical-align:top;width:452px;"
            >
          <![endif]-->
              <div class="mj-column-per-100 outlook-group-fix" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                  <tbody>
                    <tr>
                      <td style="vertical-align:top;padding:0;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                          <tr>
                            <td align="left" style="font-size:0px;padding:0;word-break:break-word;">
                              <div style="font-family:'Intro Book', 'Helvetica Neue', Helvetica, sans-serif;font-size:15px;font-weight:300;line-height:28px;text-align:left;color:#4A4A4A;">
                                Tienes un crédito pre-autorizado hasta por

                                <!-- CREDIT AMOUNT -->
                                <strong>${{credit_amount}}</strong>
                                <!-- CREDIT AMOUNT -->

                                <!-- PROFILE URL -->
                                <br> Accede a tu perfil aquí:
                                <a href="{{url}}" style="color:#1C7BFF; text-decoration: underline;">
                                  {{url}} 
                                </a>
                                <!-- PROFILE URL -->

                                 para que dispongas en menos de 24 horas. </div>
                            </td>
                          </tr>
                          <tr>
                            <td style="font-size:0px;word-break:break-word;">
                              <!--[if mso | IE]>

        <table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td height="70" style="vertical-align:top;height:70px;">

    <![endif]-->
                              <div style="height:70px;"> &nbsp; </div>
                              <!--[if mso | IE]>

        </td></tr></table>

    <![endif]-->
                            </td>
                          </tr>
                          <tr>
                            <td align="left" vertical-align="middle" style="font-size:0px;padding:0;word-break:break-word;">
                              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;width:250px;line-height:100%;">
                                <tr>
                                  <td align="center" bgcolor="#1C7BFF" role="presentation" style="border:none;border-radius:3px;cursor:auto;padding:10px 25px;background:#1C7BFF;" valign="middle">

                                    <!-- PROFILE URL BUTTON -->
                                    <a href="{{url}}"
                                      style="background:#1C7BFF;color:#ffffff;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;font-weight:bold;line-height:23px;Margin:0;text-decoration:none;text-transform:none;"
                                      target="_blank">
                                      Accede a tu perfil
                                    </a>
                                    <!-- PROFILE URL BUTTON -->

                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]>
            </td>

        </tr>

                  </table>
                <![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--[if mso | IE]>
          </td>
        </tr>
      </table>
      <![endif]-->