.contract {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9px;
    line-height: 1.5;
}

.table {
    border-collapse: collapse;
}

p {
    text-align: justify;
}

li {
    text-align: justify;
    /* margin: 0; */
}

.table-td {
    padding: 1px 10px;
    border: 1px solid black;
}

.fs-24px {
    font-size: 14px;
}

.p-2 {
    padding: 1rem !important;
}

.mt-4 {
    margin-top: 2rem !important;
}

/* MARGIN LEFT */
.ml-0 {
    margin-left: 0rem !important;
}
.ml-1 {
    margin-left: 0.5rem !important;
}
.ml-2 {
    margin-left: 1rem !important;
}
.ml-3 {
    margin-left: 1.5rem !important;
}
.ml-4 {
    margin-left: 2rem !important;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}

.m-0 {
    margin: 0;
}

.hr {
    border: 1px solid rgba(#DCDCDC, .7);
}

.widht-100 {
    width: 100%;
}

.fs-11px {
    font-size: 11px;
}

.pr-2 {
    padding-right: 1rem !important;
}

.mt-5 {
    margin-top: 2.5rem !important;
}

.text-center {
    text-align: center;
}

.fs-12px {
    font-size: 12px;
}

.my-2 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.text-underline {
    text-decoration: underline;
}

.text-italic {
    font-style: italic;
}

.mb-1 {
    margin-bottom: 0.5rem !important;
}

.pl-3 {
    padding-left: 1.5rem !important;
}

.check,
.checkmark {
    box-sizing: border-box;
}

.check {
    width: 20px;
    height: 20px;
    background-color: #1C7BFF;
    border-radius: 5px;
    margin: 0 10px 0;
    position: relative;
}

.check,
.check-label {
    display: inline-block;
    vertical-align: middle;
}

.checkmark {
    position: absolute;
    width: 6px;
    height: 12px;
    left: 7px;
    top: 3px;
    border-color: transparent white white transparent;
    border-style: solid;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

ol[type="a"] {
    padding-left: 33px;
    counter-reset: list;
}
ol[type="a"] > li {
    position: relative;
    list-style: none;
}
ol[type="a"] > li:before {
    position: absolute;
    left: -20px;
    content: counter(list, lower-alpha) ") ";
    counter-increment: list;
}

.pt-2 {
    padding-top: 1rem !important;
}