<!-- DIVIDER -->
    <!--[if mso | IE]>
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:500px;" width="500"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
      <div style="Margin:0px auto;max-width:500px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
          <tbody>
            <tr>
              <td style="direction:ltr;font-size:0px;padding:30px 24px 30px 24px;text-align:center;vertical-align:top;">
                <!--[if mso | IE]>
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">

          <tr>

              <td
                 class="" style="vertical-align:top;width:452px;"
              >
            <![endif]-->
                <div class="mj-column-per-100 outlook-group-fix" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                    <tbody>
                      <tr>
                        <td style="vertical-align:top;padding:0;">
                          <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tr>
                              <td style="font-size:0px;padding:0;word-break:break-word;">
                                <p style="border-top:solid 1px #C3C3C3;font-size:1;margin:0px auto;width:100%;">
                                </p>
                                <!--[if mso | IE]>
          <table
             align="center" border="0" cellpadding="0" cellspacing="0" style="border-top:solid 1px #C3C3C3;font-size:1;margin:0px auto;width:452px;" role="presentation" width="452px"
          >
            <tr>
              <td style="height:0;line-height:0;">
                &nbsp;
              </td>
            </tr>
          </table>
        <![endif]-->
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!--[if mso | IE]>
              </td>

          </tr>

                    </table>
                  <![endif]-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--[if mso | IE]>
            </td>
          </tr>
        </table>
        <![endif]-->
      <!-- END DIVIDER -->
<!--[if mso | IE]>
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:500px;" width="500"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->
      <div style="Margin:0px auto;max-width:500px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
          <tbody>
            <tr>
              <td style="direction:ltr;font-size:0px;padding:0 24px;text-align:center;vertical-align:top;">
                <!--[if mso | IE]>
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">

          <tr>

              <td
                 class="" style="vertical-align:top;width:452px;"
              >
            <![endif]-->
                <div class="mj-column-per-100 outlook-group-fix" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                    <tbody>
                      <tr>
                        <td style="vertical-align:top;padding:0;">
                          <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tr>
                              <td align="left" style="font-size:0px;padding:0;word-break:break-word;">

                                <!-- CONTACT INFO -->
                                <div style="font-family:'Intro Book', 'Helvetica Neue', Helvetica, sans-serif;font-size:15px;font-weight:300;line-height:28px;text-align:left;color:#4A4A4A;">
                                  Cualquier duda o comentario, contáctanos vía email a
                                  <a href="mailto:contacto@ixhua.mx" style="color:#1C7BFF; text-decoration: underline;">
                                    contacto@ixhua.mx
                                  </a>

                                  o comunícate a nuestro whatsapp <strong>331-913-6707</strong>. <br />
                                  <br />

                                  Consulta nuestro aviso de privacidad aquí
                                  <a href="https://ixhua.mx/privacy" style="color:#1C7BFF; text-decoration: underline;">ixhua.mx/privacy</a>
                                </div>
                                <!-- CONTACT INFO -->

                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!--[if mso | IE]>
              </td>

          </tr>

                    </table>
                  <![endif]-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--[if mso | IE]>
            </td>
          </tr>
        </table>
        <![endif]-->
