<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Solicitud</title>
</head>

<body class="body" style="padding:0; margin:0; display:block; background:#ffffff; -webkit-text-size-adjust:none" bgcolor="#ffffff">
  <table align="center" cellpadding="0" cellspacing="0" width="750px" height="100%">
    <tr>
      <td style="font-family: Roboto, sans-serif; font-size: 14px; color: #707070;">
        <div style="background-color: #1E2739; height: 40px; margin-bottom: 60px;"></div>
        <div style="border-top: 2px solid #c0c0c0; border-bottom: 2px solid #c0c0c0;">
          <div style="margin: 20px; line-height: 22px;color: black">
            <p>Se ha realizado una dispersión</p>
            <br>
            <div style="padding: 10px; border-left: 5px solid #E2E21B;">
              <div style="padding: 5px 0; line-height: 18px;">
                <p style="color: black">INFORMACIÓN</p>
                <p style="color: black">Nombre del cliente: <b>{{name}} {{lastname}} </b></p>
                <p style="color: black">RFC: <b>{{rfc}}</b></p>
                <p style="color: black">Solicitud: <b>{{request_no}}</b></p>
                <p style="color: black">Monto Solicitado: <b>$ {{amount_requested}}</b></p>
              </div>
            </div>
            <br>
            <br>
          </div>
        </div>
        <div style="background-color: #E2E21B; height: 40px; margin-top: 60px;"></div>
      </td>
    </tr>
  </table>
</body>
</html>
