<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Solicitud</title>
</head>

<body class="body" style="padding:0; margin:0; display:block; background:#ffffff; -webkit-text-size-adjust:none" bgcolor="#ffffff">
  <table align="center" cellpadding="0" cellspacing="0" width="750px" height="100%">
    <tr>
      <td style="font-family: Roboto, sans-serif; font-size: 14px; color: #707070;">
        <div style="background-color: #1E2739; height: 40px; margin-bottom: 60px;"></div>
        <div style="border-top: 2px solid #c0c0c0; border-bottom: 2px solid #c0c0c0;">
          <div style="margin: 20px; line-height: 22px;color: black">
            <p>Solicitud {{request_no}} </p>
            <br>
            <div style="padding: 10px; border-left: 5px solid #E2E21B;">
              <div style="padding: 5px 0; line-height: 18px;">
                <p style="color: black">Estatus: <b>{{state}}</b></p>
                <p style="color: black">No. de solicitud: <b>{{request_no}}</b></p>
                <p style="color: black">No. de contrato: <b>{{contract_no}}</b></p>
                <p style="color: black">Fecha y Hora: <b>{{created_at}}</b></p>
                <p style="color: black">Monto Solicitado (MXN): <b>$ {{amount_requested}}</b></p>
                <p style="color: black">Comisión apertura: <b>$ {{aperture}}</b></p>
                <p style="color: black">Monto Total (MXN): <b>$ {{amount_total}}</b></p>
                <p style="color: black">Fecha de Pago: <b>{{payment_date}}</b></p>
                <p style="color: black">Plazo: <b>{{term}}</b></p>
                
                <br>
                <p>INFORMACIÓN PERSONAL</p>
                <br>

                <p style="color: black">Nombre: <b>{{names}}</b></p>
                <p style="color: black">Apellido paterno: <b>{{father_last_name}}</b></p>
                <p style="color: black">Apellido materno: <b>{{mother_last_name}}</b></p>
                <p style="color: black">Género: <b>{{gender}}</b></p>
                <p style="color: black">Fecha de nacimiento: <b>{{birthdate}}</b></p>
                <p style="color: black">Nacionalidad: <b>{{nationality}}</b></p>
                <p style="color: black">Estado civil: <b>{{civil_status}}</b></p>
                <p style="color: black">Calle: <b>{{address}}</b></p>
                <p style="color: black">No. ext.: <b>{{outdoor_no}}</b></p>
                <p style="color: black">No. int.: <b>{{interior_no}}</b></p>
                <p style="color: black">C.P.: <b>{{postal_code}}</b></p>
                <p style="color: black">Colonia: <b>{{suburb}}</b></p>
                <p style="color: black">Municipio: <b>{{city}}</b></p>
                <p style="color: black">Estado: <b>{{city_state}}</b></p>
                <p style="color: black">País: <b>{{country}}</b></p>
                <p style="color: black">Tipo de vivienda: <b>{{house_type}}</b></p>
                <p style="color: black">Años de residencia: <b>{{years_residence}}</b></p>
                <p style="color: black">Teléfono casa: <b>{{phone}}</b></p>
                <p style="color: black">Teléfono celular: <b>{{cellphone}}</b></p>
                <p style="color: black">Correo electrónico: <b>{{email}}</b></p>
                <p style="color: black">Lugar de nacimiento: <b>{{birth_place}}</b></p>
                <p style="color: black">CURP: <b>{{curp}}</b></p>
                <p style="color: black">RFC: <b>{{rfc}}</b></p>
                <p style="color: black">Grado de estudios: <b>{{study_level}}</b></p>
                

                <br>
                <p>DATOS LABORALES</p>
                <br>

                <p style="color: black">Familia: <b>{{family}}</b></p>
                <p style="color: black">Familia ingresada por el cliente: <b>{{family_str}}</b></p>
                <p style="color: black">Puesto <b>{{actual_position}}</b></p>
                <p style="color: black">Antigüedad (Años): <b>{{labor_old}}</b></p>
                <p style="color: black">Antigüedad (Meses): <b>{{labor_old_month}}</b></p>
                <p style="color: black">Sueldo mensual (MXN): <b>$ {{salary}}</b></p>
                <p style="color: black">Ingreso familiar acumulado (MXN): <b>$ {{family_income}}</b></p>
                <p style="color: black">Dependiente económicos: <b>{{economic_dependent}}</b></p>
                <p style="color: black">Banco: <b>{{bank_name}}</b></p>
                <p style="color: black">Cuenta CLABE: <b>{{bank_clabe}}</b></p>

                <br>
                <p>DATOS CREDITICIOS</p>
                <br>

                <p style="color: black">¿Has presentado atrasos en Buró de Crédito?: <b>{{credit_bureau}}</b></p>
                <p style="color: black">¿Cuentas con alguna línea de crédito?: <b>{{credit_lines}}</b></p>
                <p style="color: black">¿¡Platícanos! ¿Para qué usarías tu préstamo?: <b>{{tell_us}}</b></p>
                <p style="color: black">Referencia no familiar: <b>{{reference}}</b></p>
                <p style="color: black">Teléfono referencia no familiar: <b>{{reference_phone}}</b></p>
                <p style="color: black">Referencia familiar: <b>{{family_reference}}</b></p>
                <p style="color: black">Teléfono Referencia familiar: <b>{{family_reference_phone}}</b></p>
                
                <br>
                <p style="color: black">Datos adicionales: <b>{{notes}}</b></p> 
                <p style="color: black">Motivo de rechazo: <b>{{reason_for_rejection}}</b></p> 
               
                <!--
               
                <p style="color: black">Copia ID vigente: <a href="{{ine}}" target="_blank">Descargar</a></p>
               
                
               
                <p style="color: black">Copia o foto de la cuenta de banco: <a href="{{bank_account}}" target="_blank">Descargar</a></p>
               
                
               
                <p style="color: black">Copia comprobante de domicilio: <a href="{{proof_address}}" target="_blank">Descargar</a></p>
               
                
               
                <p style="color: black">Documento Adicional: <a href="{{additional_file}}" target="_blank">Descargar</a></p>
               
                
               
                <p style="color: black">Último recibo de nómina: <a href="{{paysheet_one}}" target="_blank">Descargar</a></p>
               
                
               
                <p style="color: black">Penúltimo recibo de nómina: <a href="{{paysheet_two}}" target="_blank">Descargar</a></p>
               
                
               
                <p style="color: black">Antepenúltimo recibo de nómina: <a href="{{paysheet_three}}" target="_blank">Descargar</a></p>
            
                
                
                <p style="color: black">Selfie: <a href="{{selfie}}" target="_blank">Descargar</a></p>
        
                
              
                <p style="color: black">Contrato: <a href="{{contract}}" target="_blank">Descargar</a></p>
                -->
                

              </div>
            </div>
            <br>
            <br>
          </div>
        </div>
        <div style="background-color: #E2E21B; height: 40px; margin-top: 60px;"></div>
      </td>
    </tr>
  </table>
</body>
</html>