{% extends 'core/base.html' %}
{% load static %}
{% block title %}Nueva Familia{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3 mb-5">
      <div class="col-md-9 mx-auto">
        <form action="" method="post" novalidate>{% csrf_token %}
            <h2 class="section-heading mb-4">Nueva Familia</h2>
                {{ form.as_p }}
            <!-- Modal -->
            <div class="modal fade" id="cancelar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cancelar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ¿Seguro que deseas cancelar?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="{% url 'families:families' %}">
                    Sí, descartar
                    </a>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="text-center">
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancelar">
                Cancelar
              </button>
              <input type="submit" class="btn btn-primary" value="Guardar"/>
            <div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}