{% extends 'core/base.html' %}
{% load static %}
{% block title %}Familias{% endblock %}
{% block content %}
{% comment %} {% include 'pages/includes/pages_menu.html' %} {% endcomment %}
<main role="main">
  {% comment %} {% if messages %}
    <ul class="messages list-group mb-3">
      Mensaje
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %} {% endcomment %}
  <div class="container-fluid">
    <div class="col-lg-12">
      <h1>Catálogo de Familias</h1>
      {% if 'updated' in request.GET %}
        <div class="alert alert-success" role="alert">
          Familia actualizada satisfactoriamente
        </div>
      {% elif 'created' in request.GET %}
        <div class="alert alert-success" role="alert">
          Familia creada satisfactoriamente
        </div>
      {% elif 'deleted' in request.GET %}
        <div class="alert alert-success" role="alert">
          Familia borrada satisfactoriamente
        </div>
      {% endif %}
      <div class="row">
        <div class="col-6">
          <input class="form-control" type="text" placeholder="Buscar" aria-label="Search">
        </div>
        <div class="col-6">
          <a class="btn btn-primary float-right" href="{% url 'families:create' %}">
            Agregar nueva
          </a>
        </div>
        <br>
        <br>
        <div class="col-12">
          <table class="table table-bordered table-striped table-sm" id="families">
            <thead class="thead-light">
              <tr>
                <th>Nombre</th>
                <th>Empleados</th>
                <th>Cosechas</th>
                <th>Calificación</th>
                <th>Estado</th>
              </tr>
            </thead>
            {% for family in family_list %}
              <tr>
                <td><a href="{% url 'families:family' family.id family.business_name|slugify %}">{{ family.business_name }}</a></td>
                <td>0</td>
                <td>0</td>
                <td>{{ family.qualification }}</td>
                <td>
                  {% comment %} {{ family.active }} {% endcomment %}
                  {% if family.active %}
                    <i class="fa fa-check fa-2x"></i>
                  {% else %}
                    <i class="fa fa-times fa-2x"></i>
                  {% endif %}
              </tr>
            {% endfor %}
          </table>
          <!-- Menú de paginación -->
          {% if is_paginated %}
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                  <li class="page-item ">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                  </li>
                {% endif %}
                {% for i in paginator.page_range %}
                  <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                  </li>
                {% endfor %}
                {% if page_obj.has_next %}
                  <li class="page-item ">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                  </li>
                {% endif %}
              </ul>
            </nav>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
